 <pre><%= @board %> </pre>

 <div>
 <form method='POST'>
 	 Input coordinate
 	 <input type="text" name="coordinate">
 	 <br>
 	 <br>
 	 Select a ship type
 	 <input type="text" name="ship">
 	 <br>
 	 <br>
 	 Choose a direction
 	 <input type="text" name="direction">
 	 <br>
 	 <br>
 	 <input type="submit" value="Place">
 </form>	 
 </div>