 <pre><%= @board %> </pre>

 <div>
 <form method='POST'>
 	 <label>Input Coordinate</label>
 	 <input type="text" name="coordinate">
 	 <br>
 	 <br>
 	 <label>Select Ship</label>
 	 <select name="ship">
 	 	<option value="submarine">Submarine</option>
 	 	<option value="cruiser">Cruiser</option>
 	 	<option value="destroyer">Destroyer</option>
 	 	<option value="battleship">Battleship</option>
 	 	<option value="aircraft_carrier">Aircraft Carrier</option>
 	 </select>
 		<br>
 		<br>
 		<label>Select Direction</label>
 	 <select name="direction">
 	 	<option value="horizontally">Horizontal</option>
 	 	<option value="vertically">Vertical</option>
 	 </select>
 	 <br>
 	 <br>
 	 <input type="submit" value="Place">
 </form>	 
 </div>