<h1> Welcome to Battleships, Mothafucka! </h1>

<a href='/new_game'>Start Game</a>


<!-- h1 is header
		 a is anchor
		 form is form
		 pre is preserve

		 don't do this in reality - because you can Inspect Element and see this>